  <div class="chartWithMarkerOverlay" style="width: 900px; margin: 0 auto; height: 500px; position: relative">
    
     <div id="line-chart-marker" style="height: 500px;"></div>

     <div class="overlay-treatment"></div>
  </div>